{% extends 'base.html.twig' %}

{% block title %}Hello AppointmentController!
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" integrity="sha256-FjyLCG3re1j4KofUTQQXmaWJw13Jdb7LQvXlkFxTDJI=" crossorigin="anonymous">
	<style>
		.fc-day-grid-event .fc-content {
			white-space: normal;
		}
	</style>
{% endblock %}

{% block content %}
<section class="mt-5">
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="row">
				<div
					class="col-md-8">
					<!-- CALENDAR DATA-->
					<div class="user-data m-b-40">
						<h3 class="title-3 m-b-30">
							<i class="far fa-calendar-alt"></i>Calendar</h3>
						<div class="h-100 table-data">
							<table class="table">
								<div id="calendar" class="m-5"></div>
							</table>
						</div>
					</div>
					<!-- END CALENDAR DATA-->
				</div>

				<div
					class="col-md-4 ">
					<!-- ADD APPOINTMENT FORM -->
					<div class="user-data m-b-40">
						<h3 class="title-3 m-b-30">
							<i class="fas fa-edit"></i>Add Appointment</h3>
						<div class="table-responsive table-data h-100">
							<table class="table">
								<div class="m-5">
									{{ form_start(form) }}
									{{ form_widget(form) }}
									<button type="submit" class="btn btn-success">
										<i class="far fa-plus-square"></i>&nbsp; Submit</button>
									<button type="reset" class="btn btn-danger">
										<i class="fas fa-ban"></i>&nbsp;Reset</button>
									{{ form_end(form) }}
								</div>
							</div>
						</table>
					</div>
				</div>
				<!-- END ADD APPOINTMENT FORM -->
			</div>
		</div>
	</div>
</div></section><div
class="col-xl-12">
<!-- USER DATA-->
<div class="user-data m-b-40">
	<h3 class="title-3 m-b-30">
		<i class="fas fa-user-graduate"></i>Students Manager</h3>
	<div class="table-responsive table-data">
		<table class="table">
			<thead>
				<tr>
					<td>title</td>
					<td>content</td>
					<td>start session</td>
					<td>end session</td>
					<td>all day</td>
					<td>background Color</td>
					<td>Border Color</td>
					<td>text Color</td>
					<td>student</td>
					<td>Validate</td>
				</tr>
			</thead>
			<tbody id="loadmorecontent">
				{% for appointments in appointment %}
					<tr>

						<td>
							<div class="table-data__info">
								<p>{{appointments.title}}</p>
							</div>
						</td>
						<td>
							<p>{{appointments.content}}</p>
						</td>
						<td>
							<p>{{appointments.start|date("d/m/Y H:i:s")}}</p>
						</td>
						<td>
							<p>{{appointments.end|date("d/m/Y  H:i:s")}}</p>
						</td>
						<td>
							{% if appointments.allDay == true %}
								<p>yes</p>
							{% else %}
								<p>no</p>
							{% endif %}

						</td>
						<td>
							<p style="color:{{appointments.backgroundColor}}; padding:3px; text-align:center">{{appointments.backgroundColor}}</p>
						</td>
						<td>
							<p style="color:{{appointments.borderColor}}; padding:3px; text-align:center">{{appointments.borderColor}}</p>
						</td>
						<td>
							<p style="color:{{appointments.textColor}}; padding:3px; text-align:center">{{appointments.textColor}}</p>
						</td>
						<td>
							<p>{{appointments.student.firstname}}
								{{appointments.student.lastname}}</p>
						</td>
						<td>
							{% if appointments.validate == true %}
								<p>yes</p>
							{% else %}
								<p>no</p>
							{% endif %}
						</td>
						<td>
							<div class="table-data-feature">
								<a href="/sendmail/{{appointments.student.email}}">
									<button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send Mail">
										<i class="zmdi zmdi-mail-send"></i>
									</button>
								</a>
								<a href="/appointment/edit/{{appointments.id}}">
									<button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Student">
										<i class="zmdi zmdi-edit"></i>
									</button>
								</a>
								<a href="/appointment/remove/{{appointments.id}}">
									<button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
										<i class="zmdi zmdi-delete"></i>
									</button>
								</a>
							</td>
						</td>
					</tr>
				</div>
			</tbody>
		</td>
	</tr>
</td></tbody></tr>{% endfor %}</tbody></table></div><div class="user-data__footer"><a id="loadmorebutton" onclick="loadMoreAppointments(1)"><button class="au-btn au-btn-load">load more</button></a></div></div><!-- END USER DATA--></div>{% endblock %}{% block javascript %}<script>document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
themeSystem: 'bootstrap',
initialView: 'dayGridMonth',
local: 'en',
events: {{ data|raw }},
headerToolbar: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth timeGridWeek timeGridDay'
}
});
calendar.render();
});</script><script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js" integrity="sha256-8nl2O4lMNahIAmUnxZprMxJIBiPv+SzhMuYwEuinVM0=" crossorigin="anonymous"></script><script src="{{asset('/js/appointment.js')}}"></script><script>$(function () { // Basic instantiation:
$('#colorpicker-text').colorpicker();
$('#colorpicker-border').colorpicker();
$('#colorpicker-background').colorpicker();
})</script>{% endblock %}
